@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  animation: glowing 2s infinite alternate;
}

@keyframes glowing {
  0% {
    color: white;
    text-shadow: none;
  }
  50% {
    color: #ffd700; /* Golden hue */
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700;
  }
  100% {
    color: white;
    text-shadow: none;
  }
}

